# Virtual Environment
venv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# VAPID Keys
vapid_keys.txt
.env
last_subscription.json

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 